MineSweeper.vcxproj
MineSweeper.vcxproj.filters
MineSweeper.vcxproj.user
MineSweeper.vcxproj.FileListAbsolute.txt
*.vs/*
*.iobj
*.obj
*.exe
*.exe.recipe
*.ilk
*.log
*.ipdb
*.pdb
*.idb
*.vsidx
*.vsidx
.vs/Snake/v17/.suo
*.db
*.ipch
/Snake/x64/Debug/Snake.tlog
/.vs/Snake/v17/ipch/AutoPCH/15e3f2fe41e8565b/SNAKE.ipch
/.vs/Snake/v17/ipch/AutoPCH/34cf2c8ce0eeab5d/GAMEHANDLER.ipch
/.vs/Snake/v17/ipch/AutoPCH/3cff7210f97fe5bc/MAINHANDLER.ipch
/.vs/Snake/v17/ipch/AutoPCH/74dd74f9cf2aa4dd/SCOREHANDLER.ipch
/.vs/Snake/v17/ipch/AutoPCH/7bd22ae28261a4bf/SNAKEHANDLER.ipch
/.vs/Snake/v17/ipch/AutoPCH/dff36b557c4cbc6f/SNAKEBODY.ipch
/.vs/Snake/v17/ipch/AutoPCH/e4e0ccdd5d327a76/MAIN.ipch
*.mp3
*.wav
/Snake/x64/Release/Snake.tlog
